<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout (template, menu,title)">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<nav class="navbar navbar-dark bg-dark p-0 shadow">
    <a class="navbar-brand col-2 ml-2 mb-2" href="#">前端用户中心</a>
    <div class="col-2 row">
        <ul class="navbar-nav mr-2">
            <li class="nav-item ">
                <a class="nav-link" href="#">退出登录</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-2">
            <li class="nav-item ">
                <span class="nav-link">姓名</span>
            </li>
        </ul>
        <ul class="navbar-nav mr-2">
            <li class="nav-item ">
                <span class="nav-link">部门</span>
            </li>
        </ul>
        <ul class="navbar-nav mr-2">
            <li class="nav-item ">
                <img src="/images/img.png" alt="空">
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row ">
        <nav class="col-2 d-none d-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#" disabled="true">我的主页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">修改密码</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">我的考勤</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">个人简历</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{../annualIncome}">统计员工收入</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{../tax}">所得税管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{../positionWage}">岗位工资管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{../monthWage}">员工月收入查询</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{../monthWageConfirm}">员工月收入确认</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-10 px-4" th:insert="${template}">
        </main>
    </div>
</div>
</body>
</html>