<html xmlns:th="http://www.thymeleaf.org">
<!-- Modal -->
<div th:fragment="wageConfirm" class="modal fade bd-example-modal-lg" id="positionAdd" data-backdrop="static"
     tabindex="-1" role="dialog"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">确认月工资</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="clearWageConfirm">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">员工id：</div>
                    <div class="col-9">
                        <input class="form-control" placeholder="岗位id" v-model="wageConfirm.id">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">员工姓名：</div>
                    <div class="col-9">
                        <input class="form-control" placeholder="员工姓名" v-model="wageConfirm.name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">员工工龄：</div>
                    <div class="col-9">
                        <input class="form-control" placeholder="员工工龄" v-model="wageConfirm.seniority">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">工龄工资(工龄*10)：</div>
                    <div class="col-9">
                        <input class="form-control" placeholder="工龄工资" v-model="wageConfirm.seniorityWage">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">员工岗位ID：</div>
                    <div class="col-9">
                        <input class="form-control" placeholder="员工岗位ID" v-model="wageConfirm.postId">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">岗位工资：</div>
                    <div class="col-9">
                        <input class="form-control" placeholder="岗位工资" v-model="wageConfirm.postWage">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">缺勤次数：</div>
                    <div class="col-9">
                        <input class="form-control" placeholder="缺勤次数" v-model="wageConfirm.absence">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">扣除工资(一次10元)：</div>
                    <div class="col-9">
                        <input class="form-control" placeholder="扣除工资" v-model="wageConfirm.absenceWage">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">总工资：</div>
                    <div class="col-9">
                        <input class="form-control" placeholder="总工资" v-model="wageConfirm.totalWage">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">所得税税率：</div>
                    <div class="col-9">
                        <input class="form-control" placeholder="所得税税率" v-model="wageConfirm.tax">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">税后工资：</div>
                    <div class="col-9">
                        <input class="form-control" placeholder="税后工资" v-model="wageConfirm.taxWage">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">时间：</div>
                    <div class="col-9">
                        <input class="form-control" placeholder="时间" v-model="wageConfirm.date">
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="clearWageConfirm">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" @click="postWageConfirm">确认</button>
            </div>
        </div>
    </div>
    <script>
        var wageConfirm = {
            data: {
                subObj : {},
                submitFlag:true,
                wageConfirm: [],
            },
            created: function () {
            },
            methods: {
                clearWageConfirm(){
                    this.wageConfirm = [];
                },

                postWageConfirm: function () {

                    if (this.submitFlag){
                        let self = this;
                        this.subObj.userId = this.wageConfirm.id;
                        this.subObj.wageSeniority = this.wageConfirm.seniorityWage;
                        this.subObj.wagePosition = this.wageConfirm.postWage;
                        this.subObj.wageMerits = 0;
                        this.subObj.wageAbsenteeism = this.wageConfirm.absenceWage;
                        this.subObj.wageTax = this.wageConfirm.tax;
                        this.subObj.wageMoney = this.wageConfirm.totalWage;
                        this.subObj.wageDate = this.wageConfirm.date;
                        console.log(this.subObj)
                        axios.post("https://127.0.0.1:8080/api/v1/staffWages", this.subObj)
                            .then(response => {
                                // console.log(response.data);
                                this.msg = '添加成功';
                                this.alerts = 'alert alert-success';
                            })
                            .catch(function (error) {
                                self.alerts = 'alert alert-danger';
                                self.msg = error.response.message;
                            });
                    }else {
                        alert("不可提交");
                    }
                }
            }
        }
    </script>
</div>
</html>
